<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="../assets/ic_launcher.png">
  <title>Welcome to DAFC</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
    }

    body {
      background-image: url("https://ipfs.io/ipfs/bafybeicass6d3ftqyfigxciwfysnzm4aobfjuk4zvtueenvqqpjo3p75ju");
      background-size: cover;
      font-family: 'Courier Prime', monospace;
      height: 100vh;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .sidebar{
      height: 100vh;
    }
    .main-section{
      padding: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1{
      color: #000000;
      font-weight: 100;
      font-size: 4vw;
      align-items: center;
  justify-content: center;
    }

    h5{
      flex: content;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <!-- <div>
    <img class="sidebar" src="https://dxuoui1db8w1y.cloudfront.net/sidebar.jpg?s=q" alt="sidebar">
  </div> -->
  
  <div class="main-section">
    <div>
      <h1 style="color: #940909;">Welcome to <span style="color: #ffb039;">DAFC API Trần Chí Hữu</span</h1>
      <h5>Coppyright by DAFC</h5>
    </div>
  </div>
</body>

</html>